@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300;400;600;800&family=Russo+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: lightgray;
    font-family: 'Rubik', sans-serif;
    grid-gap: 1rem;


}
.klein_naam{
    text-decoration: none;
    color: white;
}
.header{
    height: 900px;
    width: 100%;
    background:url("fotos en achtergronden/achtergrond_ptshp.jpg") no-repeat center center/cover;
    z-index:-5;
}
.navbalk{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 35px;
    padding-left: 8%;
    padding-right: 8%;
}

span{
    color: gold;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{

    color: gold;
    transition: .4s;
    cursor: pointer;
}

.contact
{
    text-decoration:none;
    background-color: gold;
    color: black;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .4s;
}
.contact:hover{
    transform: scale(1.2);

}

.introductie
{
    position: absolute;
    top: 40%;
    left: 8%;

}

.naam_groot{
    margin: 5px 0px 20px;
    font-size: 90px;
}
.devops{
    font-size: 25px;


}
.hallo{
    font-size: 22px;

}



.over_mij{
    margin-top: 3rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
}

.over_mij_foto{
    width: 100%;
    max-width: 400px;
    height: auto;

}
.wie_ben{
    width: 640px;
}

.inleiding {
    width: 1100px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mijn_foto{
    text-align: center;
   padding-bottom: 4rem;
    font-size: large;
    font-weight: bold;
}

.foto_grid{
    margin-left: 20rem;
    flex-wrap:  wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;

}

.kolom{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

}
.kolom img{
    margin-top: 9px;
    vertical-align: middle;
    width: 100%;

}



.footer
{
    margin-top: 6rem;
    background-image: url("fotos en achtergronden/Board-Black-Line-Textuur-Achtergrond-Hout.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: lightgray;
    text-align: center;
    line-height: 1.5;
}

footer a
{
    font-family: 'Rubik', sans-serif;
    color: white;
}


@media all and (max-width: 1100px) and ( min-width: 900px) {
    .header{
        height: 900px;
        width: 100%;
        background:url("fotos en achtergronden/45105807_1097403127085519_5292143846115770368_n.jpg") no-repeat center center/cover;
    }
    .over_mij_foto{
       margin-top: 3.5rem;
        padding-right: 1rem;
    }



    /*mijn fotos grid*/


    .mijn_foto{
        text-align: center;
        padding-bottom: 4rem;
        font-size: large;
        font-weight: bold;
    }

    .foto_grid{
        margin-left: 10rem;
        flex-wrap:  wrap;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;

    }

    .kolom{
        flex: 30%;
        max-width: 30%;
        padding: 0 4px;

    }
    .kolom img{
        margin-top: 9px;
        vertical-align: middle;
        width: 100%;

    }


}

@media all and (max-width: 1100px) and ( min-width: 900px) {
    .header{
        height: 900px;
        width: 100%;
        background:url("fotos en achtergronden/45105807_1097403127085519_5292143846115770368_n.jpg") no-repeat center center/cover;
    }
    .introductie{
margin-top: -18rem;
    }
    .wie_ben{
        width: 640px;
        font-size: large;
    }

    /*mijn fotos grid*/


    .mijn_foto{
        text-align: center;
        padding-bottom: 4rem;
        font-size: large;
        font-weight: bold;
    }

    .foto_grid{
        margin-left: 10rem;
        flex-wrap:  wrap;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;

    }

    .kolom{
        flex: 30%;
        max-width: 30%;
        padding: 0 4px;

    }
    .kolom img{
        margin-top: 9px;
        vertical-align: middle;
        width: 100%;

    }
}
