@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300;400;600;800&family=Russo+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: lightgray;
    font-family: 'Rubik', sans-serif;
    grid-gap: 1rem;

}

.klein_naam{
    color: white;
    text-decoration: none;
}

.header{
    height: 900px;
    width: 100%;
    background:url("fotos en achtergronden/achtergrond_ptshp.jpg") no-repeat center center/cover;
    z-index:-5;

}
.navbalk{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 35px;
    padding-left: 8%;
    padding-right: 8%;
}

span{
    color: gold;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{

    color: gold;
    transition: .4s;
    cursor: pointer;
}

.contact
{
    text-decoration:none;
    background-color: gold;
    color: black;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .4s;
}
.contact:hover{
    transform: scale(1.2);

}

.titel {
    margin: auto;
    text-align: center;
    font-size: 90px;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 20rem;
    padding-top: 10rem;

}

.richting {

    margin-bottom: 10rem;
    margin-left: 7rem;
}

.program_foto {
    width: 100%;
    max-width: 400px;
    height: auto;

}

.richting_tekst {
    width: 640px;
}

.deze_richting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.werk_photo {
    width: 100%;
    max-width: 400px;
    height: auto;

}

.werk {
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-right: 7rem;

}

.werk_tekst {
    width: 640px;
}

.werk_en_photo {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;

}


.footer {
    margin-top: 6rem;
    background-image: url("fotos en achtergronden/Board-Black-Line-Textuur-Achtergrond-Hout.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: lightgray;
    text-align: center;
    line-height: 1.5;
}

footer a {
    font-family: 'Rubik', sans-serif;
    color: white;
}


@media all and (max-width: 1200px) {


    .program_foto {
        margin-right: 2rem;
    }

    .werk {
        margin-left: 4rem;
    }

    .deze_richting {
        flex-direction: column;


    }


    .program_foto {

        width: 100%;
        max-width: 900px;
        height: auto;
        margin-bottom: 4rem;
    }

    .richting {

        margin-bottom: 10rem;
        margin-left: 5rem;
    }

    .richting_tekst {
        width: 800px;
        font-size: 25px;
    }


    .werk_photo {
        width: 100%;
        max-width: 900px;
        height: auto;
        margin-bottom: 4rem;

    }


    .werk {
        margin-top: 15rem;
        margin-bottom: 15rem;

    }

    .werk_tekst {
        width: 800px;
        font-size: 25px;


    }

    .werk_en_photo {
        flex-direction: column-reverse;


    }


}


