@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300;400;600;800&family=Russo+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: lightgray;
    font-family: 'Rubik', sans-serif;
    grid-gap: 1rem;

}
.klein_naam{
    text-decoration: none;
    color: white;
}
.header{
    height: 100vh;
    width: 100%;

}
.navbalk{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 35px;
    padding-left: 8%;
    padding-right: 8%;
}

span{
    color: gold;
}



nav a{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{

    color: gold;
    transition: .4s;
    cursor: pointer;
}

.contact
{
    text-decoration:none;
    background-color: gold;
    color: black;
    border: 3px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .4s;
}
.contact:hover{
    transform: scale(1.2);

}

.span{
    color: gold;
}

.titel{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 90px;
    font-family: 'Russo One', sans-serif;
}

.richting{

    margin-bottom: 10rem;
    margin-left: 7rem;
}

.program_foto{
    width: 100%;
    max-width: 400px;
    height: auto;

}
.richting_tekst{
    width: 640px;
}

.deze_richting {
    width: 1100px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.werk{
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: 45rem;
}

.werk_tekst{
    width: 640px;
}

.werk_en_photo {
    width: 1100px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footer
{
    margin-top: 6rem;
    background-image: url("fotos en achtergronden/Board-Black-Line-Textuur-Achtergrond-Hout.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: lightgray;
    text-align: center;
    line-height: 1.5;
}

footer a
{
    font-family: 'Rubik', sans-serif;
    color: white;
}




@media all and (max-width: 1100px) and ( min-width: 900px) {

    .deze_richting{
        margin-top: -50rem;
    }

    .program_foto{
        margin-right: 2rem;
    }
    .werk{
        margin-left: 4rem;
    }







    .hamb
    {
        height: 100%;
        width: 0;

        z-index: 1;
        top: 0;
        left: 0;

        background-color: black;
        opacity: 0.8;
        font-weight: bolder;
        transition: 0.2s;
        position: fixed;
        overflow-x: hidden;
    }

    .nav-content    {
        position: relative;
        text-align: center;
        top: 25%;
        margin-top: 30px;
        width: 100%;

    }

    .hamb a
    {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        display: block;
        transition: 0.2s;
    }

    .hamb a:hover, .overlay a:focus
    {
        color: red;
    }

    .hamb .Btn_sluiten
    {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
        opacity: 100%;
    }
}