@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300;400;600;800&family=Russo+One&display=swap');

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #383838;
    background-color: lightgray;
    font-family: 'Rubik', sans-serif;
    grid-gap: 1rem;

}


.profiel_header
{
    background-image: url("Board-Black-Line-Textuur-Achtergrond-Hout.jpg");
    background-size: cover;
    background-position: center;
    padding: 35px;
    position: relative;
    text-align: center;

}
.profiel_header .naam
{
    text-shadow: 4px 4px 8px #383838;
    color: lightgray;
    text-align: center;
    padding-left: 20px;
    font-size: 60px;
    font-family: 'Russo One', sans-serif;
}
.schuif
{
    height: 100%;
    width: 0;

    z-index: 1;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.9;
    font-weight: bolder;
    transition: 0.2s;
    position: fixed;
    overflow-x: hidden;
}

.schuif-content
{
    position: relative;
    text-align: center;
    top: 25%;
    margin-top: 30px;
    width: 100%;

}

.schuif a
{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: lawngreen;
    display: block;
    transition: 0.2s;
}

.schuif a:hover, .overlay a:focus
{
    color: purple;
}

.schuif .Btn_sluiten
{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    opacity: 100%;
}

@media screen and (max-height: 450px)
{
    .overlay a
    {
        font-size: 20px
    }
    .overlay .closebtn
    {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


.streepjes
{
    font-size:50px;
    cursor:pointer;
    color:lawngreen;
    float: right;
}
